body, html {
    margin: 0;
    margin-left: 8px;
    margin-right: 8px;
    padding: 0;
    height: 100%;
    font-family: Helvetica, sans-serif;
}

body::-webkit-scrollbar {
    display: none;
}

.loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.9);
    z-index: 9999;
}

.top-bar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
    margin-bottom: 30px;

}

.header {
    color: #181611;
    text-align: left;
    font-size: 8pt;
    font-family: Arial, Helvetica, sans-serif;
}

.config {
    display: none;
}

.pyscript {
    display: none;
}

.icon-tabs {
    display: flex;
    justify-content: right;
    align-items: center;
}

.help-button {
    width: 45px;
    aspect-ratio: 1 / 1; /* Makes it a perfect circle */
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: solid 1px #333;
    flex-shrink: 0; /* Prevents flex items from shrinking */
    margin-right: 15px;
    font-weight: bold;
    cursor: pointer;
}

.icon-tab {
    display: flex;
    aspect-ratio: 1 / 1;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border: 2px solid #333;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 15px;
    transition: background-color 0.3s;
    align-content: center;
}

.xy-icon {
    width: 22px;
    height: 22px;
    cursor: pointer;
}

.phase-icon {
    font-size: small;
    width: 22px;
    height: 22px;
    cursor: pointer;
}

.phase-icon-img {
    width: 22px;
    height: 22px;
    cursor: pointer;
}

.icon-tab.active {
    background-color: #ddd;
}

.tab-content {
    overflow-x: hidden;
}

.piano-functions {
    display: flex;
    justify-content: space-between; /* Aligns children to the opposite ends */
    align-items: center; /* Vertically centers the children */
    margin: 20px 0;
    padding: 0 5px;
}

.function-button {
    aspect-ratio: 1 / 1;
    border: 1px solid #333;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    background-color: #f5f5f5;
    color: #333;
    margin-right: 10px;
}

.left-side-buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.deselect-button:hover {
    background-color: #ddd;
    
}

.deselect-button.active {
    background-color: #cfb8e5;
}

.power-icon {
    width: 22px;
    height: 22px;
    cursor: pointer;
}

.mute-button.disabled {
    background-color: #eee;
    color: #aaa;
    cursor: not-allowed;
}

.mute-button:hover {
    background-color: #ddd;
    
}

.mute-button.active {
    background-color: #cfb8e5;
}

.mute-button img{
    width: 22px;
    height: 22px;
}

.hidden {
    display: none;
}

.rebalance-button.active {
    background-color: #cfb8e5;
    color: #fff;
}

.balanced-icon {
    width: 22px;
    height: 22px;
    cursor: pointer;
}

.unbalanced-icon {
    width: 22px;
    height: 22px;
    cursor: pointer;
}

.wavetable-buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.wavetable-button:hover {
    background-color: #ddd;
}

.wavetable-button.active {
    background-color: #cfb8e5;
    color: #fff;
}

.sine-icon {
    width: 22px;
    height: 22px;
    cursor: pointer;
}

.square-icon {
    width: 22px;
    height: 22px;
    cursor: pointer;
}

.saw-icon {
    width: 22px;
    height: 22px;
    cursor: pointer;
}

.piano-container {
    align-items: flex-start;
    margin-top: 20px;
    margin-bottom: 30px;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
}

.piano {
    width: calc(23 * 61px);
    margin: auto;
    display: flex;
    align-items: flex-start;
    position: relative;
}

/* Optional: Hide the scrollbar for a cleaner look */
.piano-container::-webkit-scrollbar {
    display: none;
}

.piano-container {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    min-height: 280px;
}

.white-key, .black-key {
    /* ... (existing styles) ... */
    display: inline-block; /* Convert the key containers to flex containers */
    flex-direction: column; /* Stack the child elements vertically */
    justify-content: center; /* Center the child elements vertically */
    align-items: center; /* Center the child elements horizontally */
    user-select: none; /* Prevent text selection */
}

/* Adjust the height of the keys if needed */
.white-key {
    width: 60px;
    height: 200px; /* Adjust this value if needed */
    background-color: #fffcf597;
    border: 2px solid rgba(44, 41, 39, 0.435);
    border-right: none;
    margin-bottom: 60px;
    position: relative; /* Set to relative so the .frequency div is positioned relative to this */
}

.white-key[data-note='G6'] {
    border-right: 2px solid rgba(44, 41, 39, 0.435);
} 

.black-key {
    width: 40px;
    height: 120px; /* Adjust this value if needed */
    background-color: #181611;
    margin-left: -20px;
    margin-right: -20px;
    z-index: 1;
    margin-bottom: 40px;
    position: relative; /* Set to relative so the .frequency div is positioned relative to this */
    border-radius: 0 0 10% 10%; /* Make the keys circular */
    box-shadow: 2px 2px 1px 1px rgba(0,0,0,0.1);
}

.color-fill {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #9f82d6; 
    height: 0%; /* Initially empty */
    z-index: -1; /* Place it behind the labels */
    transition: height 0.05s;
}


/* Style for active white key */
.white-key.active {
    background-color: transparent;
    box-shadow: inset 3px 0px 3px 1px rgba(0,0,0,0.1);
}

/* Style for active black key */
.black-key.active {
    /* background-color: transparent; */
    box-shadow: 0 0 1px 3px rgba(0,0,0,0.1);
}

.key-label {
    font-weight: bold; /* Make the labels bold */
    font-size: 14px; /* Set a font size for the labels */
    z-index: 2; /* Ensure the labels appear above other elements */
    text-align: center; /* Center the labels horizontally */
    position: relative; /* Position the labels absolutely */
}

.white-key .key-label {
    color: #181611; /* Set the label color for white keys */
    top: 80%; /* Position the label towards the top of the white key */
}

.white-key.active .key-label {
    color: #ffffff; /* Set the label color for active white keys */
    transition: color 0.1s; /* Add a transition to the color change */
}

.white-key.active .key-label.low-fill {
    color: #000000; /* Set the label color to black when fill is low */
    transition: color 0.1s; /* Add a transition to the color change */
}

.black-key.active .key-label {
    color: #ffffff; /* Set the label color for active white keys */
}

.black-key .key-label {
    color: white; /* Set the label color for black keys */
    top: 50%; /* Center the label vertically within the black key */
    transform: translateY(-50%); /* Adjust for perfect vertical centering */
    overflow: hidden; /* Hide the overflow */
    width: 100%; /* Set the width to 100% of the parent */
    text-align: center; /* Center the text */
    line-height: 1.5; /* Control the line spacing */
    white-space: normal; /* Allow the text to wrap */
}

.adjustment {
    position: absolute;
    top: 245px;
    bottom: 20px; /* Adjust this value to position the adjustment text above the frequency text */
    left: 50%;
    transform: translateX(-50%);
    font-size: 14px; /* Adjust font size as needed */
    font-weight: 700;
    color: #333; /* Adjust color as needed */
}

.frequency {
    position: absolute;
    top: 265px;
    bottom: 20px; /* Adjust this value to position the frequency text below the adjustment text */
    left: 50%;
    transform: translateX(-50%);
    font-size: 12px; /* Adjust font size as needed */
    color: #333; /* Adjust color as needed */
}

.black-key .adjustment{
    top: 210px; /* Adjust this value to position the text above the black keys */
}

/* For the black keys, adjust the positioning of the .frequency div */
.black-key .frequency {
    top: 230px; /* Adjust this value to position the text below the black keys */
}

.frequencyRatioString {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    color: #333;
}

.white-box {
    background-color: #fff;
    padding: 100px;
    width: 100%;
    height: 100%;
}


/* One-Octave Piano Styles */

#xy-tab, #phase-tab {
    display: none; 
}

.one-octave-piano {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    position: relative;
    max-width: 700px;
    width: 90%;
    margin: 0 auto;
    margin-bottom: 3%;
}

.small-white-key, .small-black-key {
    width: 10%;
    aspect-ratio: 1 / 1; /* Makes it a perfect circle */
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    position: relative;
    flex-shrink: 0; /* Prevents flex items from shrinking */
    user-select: none; /* Prevent text selection */
}

.small-white-key {
    background-color: #fffcf597;
    margin-top: 11%;
    margin-right: 0.1%; /* Add some margin to separate the keys */
    border-style: solid;
    border-width: 2px;
    border-color: rgba(208, 202, 192, 0.735);
    box-shadow: 2px 2px 1px 2px rgba(0,0,0,0.1);
}

.small-white-key[data-note='E'] {
    margin-right: 4%; /* Add some margin to separate the keys */
} 

.small-black-key {
    background-color: #181611;
    z-index: 1;
    margin-left: -3%; /* Negative margin for overlap */
    margin-right: -3%; /* Negative margin for overlap */
    border-style: solid;
    border-width: 2px;
    border-color: rgba(60, 59, 57, 0.45);
    box-shadow: 2px 2px 1px 2px rgba(0, 0, 0, 0.207);
}

.small-white-key.active, .small-black-key.active {
    background-color: #9170cd;
    border-style: solid;
    border-width: 2px;
    border-color: rgba(117, 84, 156, 0.561);
    box-shadow: inset 0px 0px 4px 1px rgba(0,0,0,0.1);
    transition: background-color 0.01s, border-color 0.01s, box-shadow 0.01s;
}

.small-key-label {
    font-weight: bolder; /* Make the labels bold */
    font-size: 107%; /* Set a font size for the labels */
    z-index: 2; /* Ensure the labels appear above other elements */
    text-align: center;
}


.small-white-key .small-key-label {
    color: #181611; /* Set the label color for white keys */
}

.small-white-key.active .small-key-label {
    color: #ffffff; 
}

.small-black-key .small-key-label {
    color: #ffffff; /* Set the label color for white keys */
}

.tuning-adjustment {
    min-height: 25px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
    font-size: 20px;
}

.melody-context {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 20px 0;
    max-height: 70vh; /* Adjust this value based on your preference */
    overflow-y: auto;
}

.context-button {
    padding: 10px 15px;
    margin: 0 5px;
    border: 1px solid #333;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    background-color: #f5f5f5;
    color: #333;
}

.context-button.selected {
    background-color: #333;
    color: #fff;
}

.chord-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center; /* Center items */
    overflow-y: auto;
    max-width: 825px;
    margin: auto;
    position: relative; /* Relative positioning for child absolute positioning */
    padding-bottom: 20px; /* Add padding to the bottom to make room for the button */
    padding-top: 5px;
    margin-top: 20px;
    min-height: 10vh;
}

.chord-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;  /* Center the element */
}

.deselect-chord-button {
    padding: 10px 15px;
    border: 1px solid #333;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    background-color: #f5f5f5;
    color: #333;
    position: absolute; /* Take it out of the normal flow */
    left: 0; /* Align it to the left */
    margin-top: 4%;
    margin-left: 3%;
}

.deselect-chord-button:hover {
    background-color: #ddd;
}

.chord-symbol {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    color: #333;
    padding-top: 10px;
}

.chord-pitches {
    font-size: 18px;
    margin-top: 0px;
    text-align: center;
    color: #333;
    padding-top: 10px;
}

.chord-selector {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
}

.row-label {
    display: flex;
    flex-direction: row;
    max-width: 775px;
    width: 93%;
    height: 55%;
    font-size: 15px;
    margin: auto;
    color: #333;
    border-bottom: 1px solid #bbbbbb;
    border-width: 1px;
}

.row {
    justify-content: flex-start; /* Align items to the start */
    max-width: 95%;
    overflow-x: scroll;
    height: 45px; /* Set a fixed height */
    white-space: nowrap; /* Prevents the buttons from wrapping */
    margin: 14px 0;
    margin-left: 10%;
    margin-right: 10%;
}

.row::-webkit-scrollbar {
    display: none;
}

.chord-btn {
    scroll-snap-align: start; /* Snap to the start edge of the button */
    padding: 10px 15px;
    margin: 0 5px;
    border: 1px solid #333;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    background-color: #f5f5f5;
    color: #333;
}

.disabled {
    opacity: 0.5;
    pointer-events: none; /* Prevents the button from being clickable */
}

.chord-btn:hover {
    background-color: #ddd;
}

.chord-btn.selected {
    background-color: #333;
    color: #fff;
}

.chord-btn.disabled {
    background-color: #eee;
    color: #aaa;
    cursor: not-allowed;
}

#phase-tab {
    flex-direction: row;
    justify-items:start;
}

.phase-drag-area {
    display: inline-block;
    flex-direction: column;
    margin-left: 5px;
    min-width: 250px;
    width: 50%;
    height: 575px;
    overflow: hidden;
}

.phase-drag-buttons {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: left;
    min-height: 20vh; /* Adjust this value based on your preference */
    overflow-y: auto;
}

.phase-button-upper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between; /* Center items */
    margin-bottom: 10px;
    max-width: 90%;
}

.phase-chord-number-buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left; /* Center items */
}

.phase-chord-number-label {
    font-size: 18px;
    font-weight: bold;
    margin-right: 10%;
}

.phase-chord-number-display {
    font-size: 18px;
}

.chord-number-button {
    padding: 5px 10px;
    margin: 0 5px;
    border: 1px solid #333;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    background-color: #f5f5f5;
    color: #333;
}

.phase-chord-type-label {
    margin-bottom: 10px;
}

.phase-button-lower {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left; /* Center items */
}

.phase-chord-intervals, .phase-chord-triads, .phase-chord-sevenths {
    align-items: center;
    justify-content: left; /* Center items */
    height: 70px;
    overflow: hidden;
}

.phase-chord-preset {
    align-items: center;
    justify-content: left; /* Center items */
    margin-right: 7px;
    margin-bottom: 10px;
    padding: 5px 5px;
    border: 1px solid #333;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    background-color: #f5f5f5;
    color: #333;
}

.phase-chord-preset.active {
    background-color: #333;
    color: #fff;
}

.phase-drag-lines{
    position: relative;
}

.phase-drag-line{
    display: flex;
    overflow: hidden;
    align-items: center;
    justify-content: left;
    margin-top: 13px;
    width: 100%;
}

.phase-drag-line::before{
    background-color: rgb(177, 177, 177);
    content: "";
    display: inline-block;
    height: 2px;
    position: relative;
    vertical-align: middle;
    margin-top: 3.5px;
    width: 80%;
    margin-right: 10px;
}

.note-drag {
    width: 65px;
    position: absolute;
}

#note-drag-1 {
    left: 30%;
    z-index: 1;
    pointer-events: none;
}

#note-drag-2 {
    left: 35%;
    z-index: 2;
}

#note-drag-3 {
    left: 30%;
    z-index: 3;
}

#note-drag-4 {
    left: 35%;
    z-index: 4;
}

.phase-graph-area {
    display: inline-block;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-right: 5px;
    overflow: hidden;
    min-width: 250px;
    width: 46%;
    height: 575px;
}

.phase-graph-info {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 10px;
    margin-top: 30px;
}

.ratio-display-div, .cancellation-display-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100px;
}

.ratio-display-label, .cancellation-display-label {
    display: flex;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
    justify-content: center;
    align-items: center;
}

.ratio-display, .cancellation-display {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    min-width: 120px;
}

#canvas {
    width: 100%;
    height: 100%;
}

.canvas-volume-div {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.canvas-volume-label {
    margin-top: 10px;
    margin-bottom: 10px;
}

.canvas-volume-options {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
}

.canvas-volume-option {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.canvas-volume-slider {
    appearance: slider-vertical;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 75px;
    width: 20px;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.canvas-volume-slider::-webkit-slider-thumb {
    appearance: none;
    color: red;
}

.canvas-volume-button {
    padding: 4px 6px;
    margin: 0 5px;
    margin-top: 5px;
    border: 1px solid #333;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    background-color: #f5f5f5;
    color: #333;
}

.audio-on-icon {
    width: 15px;
    height: 15px;
    cursor: pointer;
}
